body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #FAFAF5;
  color: #3B3322;
  line-height: 1.6;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}
h1 { color: #7F6946; }
